error_log
output
metadata.json
output.json
results.json

*.exs.bkp
*.exs.altered

# Ignore the escript binary
/bin/exercism_test_helper
/exercism_test_helper/exercism_test_helper

test/**/test/*_test.exs.altered
test/**/test/*_test.exs.bkp
