name: Smoke Test

on: [push, pull_request, workflow_dispatch]

jobs:
  build_and_test:
    runs-on: ubuntu-20.04

    container:
      image: hexpm/elixir:1.13.0-erlang-24.1.7-ubuntu-focal-20210325

    steps:
      - name: Install git
        run: |
          apt-get update
          apt-get install -y git

      - uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
        with:
          submodules: recursive

      - name: Update submodules
        run: |
          git submodule update --init --recursive --remote

      - name: Install / Build Dependencies
        run: |
          apt -y install jq
          cd exercism_test_helper
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run ExercismTestHelper unit tests
        run: |
          cd exercism_test_helper
          mix test

      - name: Build Escript
        run: |
          cd exercism_test_helper
          MIX_ENV=prod mix escript.build
          mv exercism_test_helper ../bin

      - name: Run tests on all exercises exemploid solutions
        run: |
          ./bin/test_all_exercises.sh

  smoke_test_in_docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748

      - name: Run Smoke Test in Docker
        run: bin/run-tests-in-docker.sh
