name: Test Escript Build

on:
  push:
    paths:
      - '.github/**'
      - 'exercism_test_helper/**'

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: hexpm/elixir:1.14.0-erlang-25.0.4-debian-bullseye-20220801

    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b
      - name: Install Dependencies
        run: |
          cd exercism_test_helper
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: |
          cd exercism_test_helper
          mix test
