name: Elixir CI

on:
  push:
    paths:
      - 'json_formatter/**'

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: elixir:1.9.4-slim

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        cd json_formatter
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Tests
      run: |
        cd json_formatter
        mix test
