name: Smoke Test

on: [push, pull_request, workflow_dispatch]

jobs:
  build_and_test:
    runs-on: ubuntu-20.04

    container:
      image: hexpm/elixir:1.12.0-erlang-24.0.1-ubuntu-focal-20210325

    steps:
      - uses: actions/checkout@v2

      - name: Install / Build Dependencies
        run: |
          apt -y install jq
          cd exercism_test_helper
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Run Tests
        run: |
          cd exercism_test_helper
          mix test

      - name: Build Escript
        run: |
          cd exercism_test_helper
          MIX_ENV=prod mix escript.build
          mv exercism_test_helper ../bin

      - name: Smoke Test
        run: |
          ./bin/run.sh hello-world ./test/hello-world ./test/hello-world &&
          ./bin/run.sh need-for-speed ./test/need-for-speed ./test/need-for-speed &&
          ./bin/run.sh community-garden ./test/community-garden ./test/community-garden &&
          ./bin/run.sh pythagorean-triplet ./test/pythagorean-triplet ./test/pythagorean-triplet &&
          ./bin/run.sh bread-and-potions ./test/bread-and-potions ./test/bread-and-potions

      - name: Verify files present
        run: |
          ./.github/bin/check_files.sh hello-world &&
          ./.github/bin/check_files.sh need-for-speed &&
          ./.github/bin/check_files.sh community-garden &&
          ./.github/bin/check_files.sh pythagorean-triplet &&
          ./.github/bin/check_files.sh bread-and-potions

